body {
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
}

h1, h3 { font-size: 24px; }
h2 { font-size: 34px; }

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

#welcome footer,
#about header,
#about article,
#portfolio header {
  margin: 0 auto;
}

#about,
#portfolio,
#contacts {
  border-top: 1px solid lightgrey;
}

#about header,
#portfolio header {
  padding: 70px 0;
}



/* Welcome Section */

#welcome footer {
  min-height: 74px;
  padding: 16px 0;
}

#welcome section {
  height: 500px;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center;
}

#welcome aside {
  box-sizing: border-box;
  float: left;
  background-image: url(../images/userpic.jpg);
  background-size: cover;
  border: 4px solid white;
  border-radius: 5px;
}



/* About Section */

#about {
  padding-bottom: 100px;
}

#about h3 {
  margin-top: 84px;
}

#promo {
}

#clock {
  width: 370px;
}



/* Portfolio Section */

#portfolio ul {
  font-size: 0;
}

#portfolio li {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#portfolio img {
  width: 100%;
}

#portfolio figcaption {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  margin-top: -86px;
  padding: 20px;
  background-color: rgba(0,0,0,.6);
  color: white;
}

#portfolio h3 {
  font-size: 16px;
}

#portfolio p {
  font-size: 12px;
}



/* Contacts Section */

#contacts {
  padding: 100px 0;
  text-align: center;
}

#contacts a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

#facebook {
  background-image: url(../images/social-facebook.png);
}

#instagram {
  background-image: url(../images/social-instagram.png);
}

#vk {
  background-image: url(../images/social-vk.png);
}



/* Desktop Version */

@media all and (min-width: 401px) {

  body {
    min-width: 940px;
  }

  #welcome footer,
  #about header,
  #about article,
  #portfolio header {
    width: 900px;
  }



  /* Desktop Welcome Section */

  #welcome section {
    background-attachment: fixed;
  }

  #welcome aside {
    width: 148px;
    height: 148px;
    margin-top: -64px;
  }

  #welcome h1,
  #welcome p {
    margin-left: 175px;
  }



  /* Desktop About Section */

  #about h3:first-of-type {
    margin-top: 0;
  }

  #promo {
    float: right;
  }

  #clock {
    float: left;
    margin: 80px 30px 40px 0px;
  }


  /* Desktop Portfolio Section */

  #inline li {
    display: inline-block;
    width: 33.3333%;
  }

  #flex {
    display: flex;
  }

  #portfolio figcaption {
    margin-top: 0;
    opacity: 0;
    transition: all .3s ease-out;
  }

  #portfolio li:hover figcaption {
    margin-top: -86px;
    opacity: 1;
  }

}


/* Mobile Version */

@media all and (max-width: 400px) {

  #welcome footer,
  #about header,
  #about article,
  #portfolio header {
    width: 360px;
  }



  /* Mobile Welcome Section */

  #welcome aside {
    width: 64px;
    height: 64px;
    margin-top: -26px;
  }

  #welcome h1 {
    margin: 6px 0 0 75px;
  }



  /* Mobile About Section */

  #promo {
    width: 380px;
  }

  #clock {
    margin: 80px auto 0;
  }

}
